<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title data-th-text="${loggedInUser.name} + ' SCM Dashboard'">Profile Page</title>
</head>
<body>
<div id="content">
	<div th:if="${loggedInUser}">
		<div th:replace="~{user/sidebar :: sidebar}"></div>
	</div>
	<div class="sm:pl-64 pt-20" style="height: 1000px;">
		<div class="flex justify-center flex-col items-center">
			<h1 class="text-5xl">Welcome to the Dashboard page</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid at culpa debitis dicta distinctio
				dolorum ducimus
			</p>
		</div>
	</div>
</div>
<script>
	console.log("Dashboard page script loaded");
</script>
</body>
</html>