<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login Page</title>
</head>
<body>
<div id="content">
	<div class="grid grid-cols-12 mt-2">
		<div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
		<div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
			<div
					class="block p-6 bg-white border-t-8 border-green-700 rounded-xl shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-emerald-600 dark:hover:bg-gray-700">
				<!-- Alert message after sign in success -->
				<div data-th-replace="message::messagebox"></div>
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Login Here</h5>
				<p class="font-normal text-gray-400 dark:text-gray-200 text-center mb-4">Start managing your contacts</p>

				<div th:if="${param.error}" class="flex justify-center">
					<div class="p-3 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
						<div class="text-center">
							<span class="font-medium">Invalid username or password</span>
						</div>
					</div>
				</div>
				<div th:if="${param.logout}" class="flex justify-center">
					<div class="p-3 mb-2 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
						<div class="text-center">
							<span class="font-medium">You have been logged out</span>
						</div>
					</div>
				</div>

				<form method="post" th:action="@{/authenticate}">
					<div class="mb-5">
						<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
						<input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter email" required />
					</div>
					<div class="mb-5">
						<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
						<input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter password" required />
					</div>
					<div class="mb-5 flex justify-center space-x-3">
						<button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-emerald-500 dark:hover:bg-emerald-600 focus:outline-none dark:focus:ring-blue-800">Sign In</button>
						<button type="reset" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Reset</button>
					</div>
				</form>
				<div class="flex justify-center mt-8">
					<a class="login-with-google-btn px-3 py-2" data-th-href="@{'/oauth2/authorization/google'}">Login With Google</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	console.log("Login page script loaded");
</script>
</body>
</html>